<div class="form-group auto-complete" data-lazy-init="<%= options.lazyInit ? 'true' : 'false' %>" data-options="<%= JSON.stringify(options) %>">
  <div class="input-group">
    <% if (options.label) { %>
    <div class="input-group-addon"><%= options.label %></div>
    <% } %>
    <input type="text" class="form-control" placeholder="<%= options.placeholder || '' %>" value="<%= options.formattedText || '' %>">
    <div class="auto-complete-action">
      <div class="clear-button"><i class="fa fa-lg fa-times-circle"></i></div>
      <div class="loading-indicator"><i class="fa fa-spin fa-spinner"></i></div>
    </div>
    <div class="auto-complete-popup hidden">
    </div>
  </div>
</div>
