<div class="widget input-reference <%= options.hidden ? 'hidden' : '' %>" data-input-options="<%= JSON.stringify(options) %>">
  <div class="title" <%- options.anchorName ? ("id=\" + options.anchorName + \"") : "" %> >
    <div>
      <%= options.label %>
      <span class="message"></span>
    </div>
    <div class="actions">
      <button type="button" class="btn btn-success btn-sm <%= options.readonly ? 'hidden' : '' %>"><i class="fa fa-plus"></i></button>
    </div>
  </div>
  <div class="empty <%= options.hasValue ? "hidden" : "" %>">无</div>
  <script type="text/template">
    <tr class="line" data-input-value="<@= JSON.stringify(value) @>">
      <% options.columns.forEach(function(column, index){ %>
      <td class="field <%= index === options.columns.length - 1 ? "text-section" : "" %>"><@= value["<%= column %>"] || "" @></td>
      <% }) %>
      <td class="actions">
        <button type="button" class="btn btn-primary btn-sm"><i class="fa <%= options.readonly ? 'fa-eye' : 'fa-pencil' %>"></i></button>
        <button type="button" class="btn btn-danger btn-sm <%= options.readonly ? 'hidden' : '' %>"><i class="fa fa-times"></i></button>
      </td>
    </tr>
  </script>
  <table class="full-table <%= options.hasValue ? "" : "hidden" %>">
    <thead>
    <% if (options.titles) { %>
    <tr class="line">
      <% options.titles.forEach(function(title, index){ %>
      <th class="field"><%= title %></th>
      <% }) %>
      <th class="field"></th>
    </tr>
    <% } %>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>