<div class="input-group date">
  <input type="text" class="form-control" placeholder="<%= options.placeholder || '' %>" <%= options.readonly ? 'disabled' : '' %>>
  <div class="input-group-addon"><span class="glyphicon-calendar glyphicon"></span></div>
</div>
