<div class="input-container">
  <script type="text/template">
    <div class="upload-item form-control-image" data-input-value="<@= typeof value === 'string' ? value : JSON.stringify(value) @>">
      <img src="<@= getUrl(value) @>"/>
      <button type="button" class="btn btn-danger btn-xs btn-delete <@= readonly ? 'hidden' : '' @>"><i class="fa fa-times"></i></button>
    </div>
  </script>
  <div class="upload-item-add form-control-image-add <%= options.addButtonHidden ? "hidden" : "" %>">
    <input id="<%= options.addButtonId %>" type="file" accept="image/png,image/jpeg,image/gif"/><label for="<%= options.addButtonId %>"><i
              class="fa fa-picture-o"></i></label>
  </div>
</div>