<div class="input-container">
  <script type="text/template">
    <div class="upload-item form-control-file" data-input-value="<@= typeof value === 'string' ? value : JSON.stringify(value) @>">
      <a href="<@= getUrl(value) @>" target="_blank"><i class="fa fa-file"></i> <@= getName(value) @></a>
      <button type="button" class="btn btn-danger btn-xs btn-delete <@= readonly ? 'hidden' : '' @>"><i class="fa fa-times"></i></button>
    </div>
  </script>
  <div class="upload-item-add form-control-file-add <%= options.addButtonHidden ? "hidden" : "" %>">
    <input id="<%= options.addButtonId %>" type="file" <%- options.accept ? 'accept="' + options.accept + '"' : '' %>/><label for="<%= options.addButtonId %>"></label>
  </div>
</div>