<div class="input-group">
  <input type="text" class="form-control" value="<%= options.value || "" %>" <%= options.readonly ? 'disabled' : '' %>/>
  <span class="input-group-btn"><button class="btn btn-primary" type="button" <%= options.readonly ? 'disabled' : '' %>><%= options.actionLabel || "发送" %></button></span>
  </div>
<% if (options.hintHTML) { %>
<div class="input-hint">
  <%- options.hintHTML %>
  </div>
<% } %>