<select class="form-control" <%= options.readonly ? 'disabled' : '' %>>
  <option></option>
  <% options.selections.forEach(function(selection) { %>
  <option value="<%= selection.value %>" <%= selection.selected ? "selected" : "" %>><%= selection.label %></option>
  <% }) %>
</select>