<% options.selections.forEach(function(selection) { %>
<label class="checkbox-inline">
  <input type="checkbox" name="<%= options.name %>" value="<%= selection.value %>" <%= selection.selected ? "checked" : "" %> <%= options.readonly ? 'disabled' : '' %>><%= selection.label %>
</label>
<% }) %>