<div class="form-item input-field <%= options.hidden ? 'hidden' : '' %>" data-input-type="<%= type %>" data-input-options="<%= JSON.stringify(options) %>">
  <div class="key">
    <%= options.label %>
    <% if (options.required) { %>
    <span class="text-required">*</span>
    <% } %>
  </div>
  <div class="value form-group">
    <div class="col-xs-12 col-sm-9"><%- content %></div>
    <div class="col-xs-12 col-sm-3"><span class="help-block"></span></div>
  </div>
</div>