<nav class="pagination-container">
  <% if (options.summary) { %>
  <div class="summary"><%= options.summary %></div>
  <% } %>
  <%
  // calculate the pagination
  var pageNum = 7;

  var currentPage = parseInt(options.pageNumber);
  if (currentPage >= options.totalPage) {
    currentPage = options.totalPage;
  }

  var startPage = currentPage - parseInt(pageNum / 2);
  if (startPage + pageNum > options.totalPage) {
    startPage = options.totalPage - pageNum;
  }
  if (startPage < 1) {
    startPage = 1;
  }
  var endPage = startPage + pageNum;
  if (endPage > options.totalPage) {
    endPage = options.totalPage;
  }
  %>
  <ul class="pagination">
    <li class="<%= currentPage > 1 ? '' : 'disabled' %>">
      <a href="javascript:void(0)" class="page-arrow-btn" data-val="<%= 1 %>"><span>&laquo;</span></a>
    </li>
    <% for (var i = startPage; i <= endPage; i++) { %>
    <li <%- (i != options.pageNumber) ? '' : 'class="active"' %>>
      <a href="javascript:void(0)" class="page-num-btn"><%= i %>
      </a>
    </li>
    <% } %>
    <li class="<%= currentPage < options.totalPage ? '' : 'disabled' %>">
      <a href="javascript:void(0)" class="page-arrow-btn" data-val="<%= options.totalPage %>">
        <span>&raquo;</span></a>
    </li>
  </ul>
</nav>