body {
  font-family: sans-serif, "Helvetica Neue", Helvetica, tahoma, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", 宋体, Arial;
}

a,
a:active,
a:focus,
a:active:focus {
  outline: 0;
}

html,
body {
  height: 100%;
  margin: 0
}

.input-hint {
  margin-top: 10px;
}

.text-required {
  color: #fc2d21;
}

.radio-inline, .checkbox-inline {
  margin-right: 10px;
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-left: 0;
  margin-right: 10px;
}

.has-error .input-group-btn:last-child > .btn {
  border-left-color: #a94442;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Layout */

.body-parts {
  position: relative;
  min-height: 100vh;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #394555;
  color: #ffffff;
  padding: 0 20px 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
}

.top-bar a {
  text-decoration: none;
  color: #ffffff;
}

.top-bar .left {
  font-size: 16px;
  line-height: 36px;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-bar .right {
}

.top-bar .right .btn,
.top-bar .right .btn:hover,
.top-bar .right .btn:focus,
.top-bar .right .btn:focus:active,
.top-bar .right .btn:active,
.top-bar .right .btn:focus {
  background-color: #394555;
  border: none;
  color: #ffffff;
}

.center-part {
  position: absolute;
  padding-top: 40px;
  min-width: 100%;
  min-height: 100vh;
}

.center-part .left-nav-expansion {
  display: none;
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 9;
  width: 40px;
  height: 40px;
  background-color: #eaedf1;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
  line-height: 40px;
  color: inherit;
}

.center-part .left-nav {
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 120px;
  background-color: #eaedf1;
  padding-top: 40px;
}

.center-part .left-nav .nav-item {
  padding: 0 20px 0 20px;
  line-height: 40px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #777777;
}

.center-part .left-nav .nav-item.selected {
  background-color: #ffffff;
  cursor: default;
  color: #555555;
  font-weight: bold;
}

.center-part .left-nav .nav-group {
  position: relative;
}

.center-part .left-nav .nav-group .selected-indicator {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1;
  width: 10px;
  height: 20px;
  border-top: solid transparent 10px;
  border-bottom: solid transparent 10px;
  border-right: solid #fff 10px;
}

.center-part .left-nav .nav-group .nav-group-title {
  padding: 0 20px 0 20px;
  line-height: 40px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #777777;
}

.center-part .left-nav .nav-group .nav-group-title.selected {
  color: #555555;
  font-weight: bold;
}

.center-part .left-nav .nav-group .nav-group-title .fa {
  width: 12px;
  text-align: left;
}

.center-part .left-nav .nav-group .nav-group-items .nav-item {
  padding-left: 32px;
}

.center-part .main {
  padding-left: 120px;
}

.center-part .blocking {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.center-part .blocking-backdrop {
  z-index: 100;
  background-color: #ffffff;
  opacity: 0.5;
}

.center-part .blocking-message {
  z-index: 101;
  padding-top: 150px;
  text-align: center;
}

.center-part .location-bar {
  position: fixed;
  top: 40px;
  left: 120px;
  right: 0;
  height: 40px;
  z-index: 8;
  display: flex;
  align-items: center;
  border-bottom: solid #e5e5e5 1px;
  background-color: #fff;
}

.center-part .location-bar .location {
  flex: 1;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  overflow: hidden;
}

.center-part .location-bar .location .location-item {
  display: inline-block;
  padding: 0 10px 0 10px;
  text-decoration: none;
  cursor: pointer;
  color: #777777;
}

.center-part .location-bar .location .location-item.selected {
  cursor: default;
  color: #555555;
  font-weight: bold;
}

.center-part .location-bar .location i {
  color: #777777;
  font-size: 4px;
  vertical-align: middle;
}

.center-part .location-bar .btn {
  padding: 0 30px 0 30px;
  line-height: 40px;
  border: none;
  border-radius: 0;
  min-width: 120px;
}

.center-part .location-bar .btn-default {
  background-color: #aaaaaa;
  color: #ffffff;
}

.center-part .location-bar .btn-default:hover {
  background-color: #999999;
}

.center-part .location-bar .btn-default:focus,
.center-part .location-bar .btn-default:focus:active,
.center-part .location-bar .btn-default:active,
.center-part .location-bar .btn-default:active:hover {
  background-color: #666666;
}

.center-part .location-bar .btn-default:focus {
  background-color: #aaaaaa;
}


.center-part .content {
  padding: 60px 20px 20px 20px;
}

.center-part .content:after {
  display: block;
  content: "";
  clear: both;
}

.center-part .content .search .form-control {
  min-width: 400px;
}

.center-part .content .filters > div {
  display: inline-block;
  margin: 0 10px 10px 0;
  vertical-align: middle;
}

.center-part .content .main-table {
  border-collapse: separate;
  border-radius: 4px;
  border: solid #e5e5e5 1px;
  margin: 10px 0 10px 0;
}

.center-part .content .main-table > thead {
  background-color: #fbfbfb;
}

.center-part .content .main-table > thead > tr > th {
  border-right: solid #dddddd 1px;
  color: #999999;
}

.center-part .content .main-table > thead > tr > th:last-child {
  border-right: none;
  text-align: right;
}

.center-part .content .main-table > tbody > tr > td:last-child {
  text-align: right;
}

.center-part .content .main-table > thead > tr > th,
.center-part .content .main-table > tbody > tr > td {
  vertical-align: middle;
  word-break: break-all;
  line-height: 20px;
  padding: 5px 10px;
}

.center-part .content .main-table > tbody > tr > td img {
  width: auto;
  height: 30px;
  overflow: hidden;
  border-radius: 3px;
}

.center-part .content nav {
  text-align: right;
}

.center-part .content nav .summary {
  display: inline-block;
  line-height: 39px;
  vertical-align: top;
  padding: 0 10px 0 10px;
}

.center-part .content nav .pagination {
  margin: 0;
}

.center-part .content nav .pagination > li > a {
  color: #777777;
}

.center-part .content nav .pagination > .active > a {
  color: #ffffff;
}

@media (max-width: 767px) {

  .center-part .left-nav-expansion {
    display: block;
  }

  .center-part .main {
    padding-left: 0;
  }

  .center-part .location-bar {
    left: 0;
    right: auto;
    width: 100%;
  }

  .center-part .location-bar .location {
    padding-left: 40px;
  }

  .center-part .location-bar .btn {
    min-width: 60px;
    font-size: 12px;
    padding: 0 15px;
  }

  .center-part .content {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* Menu Animation */

@media (max-width: 767px) {

  .body-parts.menu-opened {
    overflow-x: hidden;
  }

  .mobile-content {
    transition: left 0.1s linear;
    left: 0 !important;
  }

  .mobile-menu {
    transition: left 0.1s linear;
    left: -120px !important;
  }

  .mobile-content.menu-opened {
    left: 120px !important;
  }

  .mobile-menu.menu-opened {
    left: 0 !important;
  }
}

/* Widget */

.widget {
  min-height: 30px;
  border-radius: 4px;
  border: solid #e5e5e5 1px;
  margin-bottom: 30px;
  overflow: hidden;
}

.modal-body .widget {
  border: none;
  border-radius: 0;
  margin: 0;
}

.widget .title {
  display: flex;
  border-bottom: solid #e5e5e5 2px;
  padding: 8px 15px 8px 10px;
  line-height: 28px;
  font-size: 120%;
  color: #777777;
  background-color: #fbfbfb;
  border-left: solid #777777 5px;
}

.widget .title .message {
  margin-left: 10px;
  padding-left: 10px;
}

.widget .title .message:empty {
  display: none;
}

.widget .title.has-error {
  background-color: #fff2f1;
}

.widget .title.has-error .message {
  color: #a94442;
}

.widget .title .actions {
  flex: 1;
  text-align: right;
  font-size: 100%;
}

.widget .empty {
  line-height: 40px;
  padding-left: 15px;
}

.widget .full-table {
  width: 100%;
}

.widget .line {
  line-height: 26px;
  padding: 8px 15px;
}

.widget .line + .line {
  border-top: solid #e5e5e5 1px;
}

.widget .line .field {
  padding: 10px 15px;
  white-space: nowrap;
  border-right: solid #e5e5e5 1px;
  vertical-align: middle;
}

.widget .line .field.text-section {
  white-space: normal;
  width: 100%;
}

.widget .line .actions {
  padding: 0 15px;
  text-align: right;
  white-space: nowrap;
  vertical-align: middle;
}

.widget .line .actions button + button {
  margin-left: 5px;
}

.widget .item {
  padding: 0 15px 0 15px;
  display: flex;
  align-items: center;
}

.widget .item + .item {
  border-top: solid #e5e5e5 1px;
}

.widget .item .key {
  color: #777777;
  margin-right: 20px;
  padding: 8px 0 8px 0;
  line-height: 26px;
}

.widget .item .value {
  flex: 1;
  text-align: right;
  padding: 8px 0 8px 0;
  line-height: 26px;
  word-break: break-all;
}

.widget .item .value > form {
  display: flex;
  align-items: center;
}

.widget .item .value > form .form-group {
  flex: 1;
  padding: 0 10px 0 10px;
  margin: 0;
}

.widget .item .value > form .form-group input,
.widget .item .value > form .form-group select {
  width: 80%;
  display: inline;
}

.widget .item .value > form input.input-sm,
.widget .item .value > form select.input-sm {
  height: 24px;
}

.widget .item .value .btn {
  margin: 0 0 0 3px;
}

.widget .form-item {
  padding: 0;
  display: flex;
  align-items: stretch;
}

.widget .form-item + .form-item {
  border-top: solid #e5e5e5 1px;
}

.widget .form-item.form-action {
  padding: 10px 0 10px 130px;
}

.widget .form-item .key {
  text-align: right;
  background-color: #fbfbfb;
  width: 130px;
  border-right: solid #e5e5e5 1px;
  padding: 17px 10px;
  margin: 0;
  color: #333;
  font-weight: bold;
}

.widget .form-item .value {
  flex: 1;
  padding: 10px;
  margin: 0;
  text-align: left;
}

.widget .form-item .value.form-group {
  margin: 0;
}

.widget .form-item .value.form-group .help-block {
  margin-top: 7px;
}

.widget .form-item .value.form-group .help-block:empty {
  display: none;
}

.widget .form-item .value.form-group.with-action input + .btn {
  display: block;

}

.widget thead .line {
  border-bottom: solid #e5e5e5 1px;
  line-height: 22px;
}

.widget .form-item .key-placeholder {
  width: 130px;
}

.center-part .content .form-separator {
  border-top: solid #e5e5e5 1px;
  height: 10px;
}

@media (max-width: 767px) {

  .widget .title {
    font-size: 100%;
  }

  .widget .title .message {
    display: block;
    padding: 0 10px 0 0;
    margin: 0;
    line-height: 20px;
  }

  .widget .form-item .key {
    width: 90px;
  }

  .widget .form-item .key-placeholder {
    width: 90px;
  }

  .widget .form-item .value.form-group .help-block {
    margin-bottom: 0;
  }
}

/* Form */

.modal-form .modal-content .modal-body {
  padding: 0;
  margin: 0 -15px 0 -15px;
}

.form-group input[type=file] {
  font-size: 12px;
  margin-bottom: 5px;
  width: 100%;
}

.form-group .form-control-file-add {
  margin-top: 7px;
}

.form-group .form-control-file-add input {
  display: inline-block;
  width: auto;
  margin-right: 8px;
}

.form-group .form-control-file {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.form-group .form-control-file a {
  margin-right: 10px;
}

.form-group .form-control-image-add {
  display: inline-block;
  border: solid #e5e5e5 1px;
  border-radius: 4px;
  padding: 5px;
  width: 92px;
  height: 92px;
  position: relative;
  overflow: hidden;
}

.form-group .form-control-image-add input {
  position: absolute;
  left: -1000px;
  z-index: -1000;
}

.form-group .form-control-image-add label {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  color: #777;
  text-align: center;
  cursor: pointer;
}

.form-group .form-control-image {
  display: inline-block;
  border: solid #e5e5e5 1px;
  border-radius: 4px;
  padding: 5px;
  height: 92px;
  min-width: 92px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-right: 5px;
}

.form-group .form-control-image .btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.form-group .form-control-image img {
  height: 80px;
  width: auto;
  border-radius: 4px;
}

.form-group.has-error .form-control-image-add,
.form-group.has-error .form-control-image {
  border-color: #a94442;
}

.form-group.has-error .form-control-image-add label {
  color: #a94442;
}

form .form-separator {
  margin: 20px 0 20px 0;
  height: 1px;
  background: #e6e6e6;
}

.divider {
  width: 100%;
  text-align: center;
}

.divider span {
  line-height: 40px;
}

.divider hr {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.divider hr.left {
  float: left;
}

.divider hr.right {
  float: right;
}

/* Modal */

.modal-content {
  padding: 0 15px 15px 15px;
}

.modal-header {
  border: none;
  border-bottom: solid #e9f0f3 1px;
  margin: 0 -15px 0 -15px;
  padding: 10px 15px 10px 15px;
}

.modal-body p {
  padding: 30px 0 10px 0;
}

.modal-footer {
  border: none;
  margin: 0 -15px 0 -15px;
  padding-bottom: 0;
  border-top: solid #e9f0f3 1px;
  text-align: center;
}

.modal-footer .btn {
  min-width: 100px;
}

.modal-title {
  line-height: 32px;
  font-size: 18px;
  font-weight: bold;
  color: #1c2021;
}

.modal-close {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  line-height: 28px;
  padding: 0;
  z-index: 1;
}

.modal-body {
  padding: 0 15px 15px 15px;
}

/* Popup Dialog */

.popup-modal-content {
  max-width: 450px;
  margin: auto;
}

.popup-modal-content .modal-body {
  padding-top: 40px;
  padding-bottom: 0;
}

.popup-modal-content .popup-message {
  padding: 30px 0 50px 0;
  font-size: 20px;
  text-align: center;
  color: #1c2021;
}

.popup-modal-content.has-input .popup-message {
  padding: 0 0 10px 0;
}

.popup-modal-content .popup-input {
  padding: 10px 0 30px 0;
  margin: 0;
}

.popup-modal-content .popup-input textarea {
  width: 100%;
  height: 100px;
}

.popup-modal-content .popup-actions {
  text-align: center;
}

.popup-modal-content .popup-actions .btn {
  width: 100px;
  margin-right: 20px;
}

.popup-modal-content .popup-actions .btn:last-of-type {
  margin-right: 0;
}

/* Toast */

.toast-modal-content {
  max-width: 450px;
  margin: auto;
}

.toast-modal-content .modal-body {
  padding: 0;
}

.toast-modal-content .toast-message {
  padding: 30px 0 15px 0;
  font-size: 16px;
  text-align: center;
}

/* Alert */

.alert-container {
  position: fixed;
  z-index: 10;
  left: 240px;
  right: 240px;
}

.alert-container.animated {
  transition: top 0.5s ease;
}

.alert-container.off {
  top: -100px;
}

.alert-container.on {
  top: 40px;
}

.alert-container .alert-content {
  width: 400px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
}

/* Auto-complete */

.auto-complete .input-group .form-control,
.auto-complete .input-group .form-control:not(:first-child):not(:last-child) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-right: 36px;
}

.auto-complete .auto-complete-action {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 36px;
  z-index: 5;
  display: flex;
  align-items: stretch;
  color: #999;
}

.auto-complete .auto-complete-action .clear-button {
  display: none;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.auto-complete .auto-complete-action.show-clear .clear-button {
  display: flex;
}

.auto-complete .auto-complete-action.show-loading.show-clear .clear-button {
  display: none;
}

.auto-complete .auto-complete-action .loading-indicator {
  display: none;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.auto-complete .auto-complete-action.show-loading .loading-indicator {
  display: flex;
}

.auto-complete .auto-complete-popup {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #ffffff;
  border: solid #ccc 1px;
}

.auto-complete .auto-complete-popup .auto-complete-popup-item {
  padding: 6px 10px;
  cursor: pointer;
  color: #555;
}

.auto-complete .auto-complete-popup .auto-complete-popup-item:hover {
  background-color: #f5f5f5;
}

.auto-complete .auto-complete-popup .auto-complete-popup-item b {
  color: #333;
}

.auto-complete .auto-complete-popup .auto-complete-popup-item + .auto-complete-popup-item {
  border-top: solid #eee 1px;
}

.auto-complete .input-group {
  width: 100%;
}

.sortable-column {
  cursor: pointer;
}

.sortable-column.selected {
  color: #333;
}

.sortable-column i {
  margin-left: 6px;
}