<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('partial/html-head') %>

</head>
<body>

<div class="body-parts">

  <%- include('partial/top-bar') %>

  <div class="center-part mobile-content">

    <%- include('partial/left-nav', {location: 'child1'}) %>

    <div class="main" style="text-align: center; padding-top: 200px">
      CHILD 1 DEMO
    </div>

  </div>
</div>

<%- include('partial/modals') %>

<%- include('partial/scripts') %>

</body>
</html>
