<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('partial/html-head') %>

</head>
<body>

<div class="body-parts">

  <%- include('partial/top-bar') %>

  <div class="center-part mobile-content">

    <%- include('partial/left-nav', {location: 'child2'}) %>

    <div class="main" style="text-align: center; padding-top: 200px">
      CHILD 2 DEMO
    </div>
    
  </div>
</div>

<%- include('partial/modals') %>

<%- include('partial/scripts') %>

</body>
</html>
