<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('partial/html-head') %>

</head>
<body>

<div class="body-parts">

  <%- include('partial/top-bar') %>

  <div class="center-part mobile-content">

    <%- include('partial/left-nav', {location: 'form'}) %>

    <div class="main">
      <div class="location-bar mobile-content">
        <div class="location">
          <a class="location-item selected">编辑</a>
        </div>
        <% if (readonly) { %>
        <button type="button" class="btn btn-success">编辑</button>
        <% } else { %>
        <button type="button" class="btn btn-primary">保存</button>
        <button type="button" class="btn btn-warning">只读</button>
        <% } %>
        <button type="button" class="btn btn-default" onclick="history.back();">返回</button>
      </div>
      <div id="mainForm" class="content">
        <div class="col-sm-12 col-md-10 col-lg-9">
          <div class="widget">
            <div class="title">INPUT STATIC & HIDDEN</div>
            <form class="form-horizontal">
              <%- inputStatic({label: 'STATIC', name: 'static1', value: 'static value'}) %>
              <%- inputStatic({label: 'STATIC A', name: 'static2', value: 'google', url: 'http://www.google.com'}) %>
              <%- inputHidden({name: 'hidden1', value: 'hidden value'}) %>
            </form>
          </div>

          <div class="widget">
            <div class="title">INPUT TEXT</div>
            <form class="form-horizontal">
              <%- inputText({readonly: readonly, label: 'TEXT', name: 'text1'}) %>
              <%- inputText({readonly: readonly, label: 'TEXT R', name: 'text2', required: true}) %>
              <%- inputText({readonly: readonly, label: 'TEXT P', name: 'text3', pattern: '^\\d+$'}) %>
              <%- inputText({readonly: readonly, label: 'TEXT P E', name: 'text4', pattern: '^\\d+$', patternErrorMessage: '一定要是数字啊！！！'}) %>
              <%- inputText({readonly: readonly, label: 'TEXT V', name: 'text5', jsValidator: 'isJohnOrJack'}) %>
            </form>
          </div>

          <div class="widget">
            <div class="title">INPUT TEXT WITH ACTION</div>
            <form class="form-horizontal">
              <%- inputTextWithAction({
                readonly: readonly,
                label: 'TEXT AT',
                name: 'textWithAction1',
                jsAction: 'action1',
                actionTimeout: '30'
              }) %>
              <%- inputTextWithAction({
                readonly: readonly,
                label: 'TEXT AL',
                name: 'textWithAction2',
                jsAction: 'action2',
                actionLabel: '点一点',
                required: true
              }) %>
            </form>
          </div>

          <div class="widget">
            <div class="title">INPUT PASSWORD</div>
            <form class="form-horizontal">
              <%- inputPassword({readonly: readonly, label: 'PASSWORD R', name: 'password1', required: true}) %>
            </form>
          </div>

          <div class="widget">
            <div class="title">INPUT TEXTAREA</div>
            <form class="form-horizontal">
              <%- inputTextarea({readonly: readonly, label: 'TEXTAREA', name: 'textarea1'}) %>
              <%- inputTextarea({readonly: readonly, label: 'TEXTAREA ROWS 5', name: 'textarea2', rows: 5}) %>
            </form>
          </div>

          <div class="widget">
            <div class="title">INPUT RICHTEXT</div>
            <form class="form-horizontal">
              <%- inputRichText({
                readonly: readonly, label: 'RICHTEXT', name: 'richtext1', value: 'test<br/><br/><br/>abc', summernoteOptions: {
                  height: 300
                }
              }) %>
            </form>
          </div>

          <div class="widget">
            <div class="title">INPUT SELECT</div>
            <form class="form-horizontal">
              <%- inputSelect({readonly: readonly, label: 'SELECT', name: 'select1', value: '1', selections: ['1', '2', '3']}) %>
              <%- inputSelect({readonly: readonly, label: 'SELECT R', name: 'select2', selections: ['4', '5', '6'], required: true}) %>
            </form>
          </div>

          <div class="widget">
            <div class="title">INPUT CHECKBOX</div>
            <form class="form-horizontal">
              <%- inputCheckbox({
                readonly: readonly,
                label: 'CHECKBOX',
                name: 'checkbox1',
                value: ['1', '3'],
                selections: ['1', '2', '3']
              }) %>
              <%- inputCheckbox({
                readonly: readonly,
                label: 'CHECKBOX R',
                name: 'checkbox2',
                selections: ['4', '5', '6'],
                required: true
              }) %>
            </form>
          </div>

          <div class="widget">
            <div class="title">INPUT RADIO</div>
            <form class="form-horizontal">
              <%- inputRadio({readonly: readonly, label: 'RADIO', name: 'radio1', value: '1', selections: ['1', '2', '3']}) %>
              <%- inputRadio({readonly: readonly, label: 'RADIO R', name: 'radio2', selections: ['4', '5', '6'], required: true}) %>
            </form>
          </div>

          <div class="widget">
            <div class="title">INPUT DATE</div>
            <form class="form-horizontal">
              <%- inputDate({
                readonly: readonly,
                label: 'DATE', name: 'date1', value: '2016-12-01', datePickerOptions: {
                  format: 'yyyy-mm-dd',
                  startDate: '-3d'
                }
              }) %>
            </form>
          </div>

          <div class="widget">
            <div class="title">INPUT FILE</div>
            <form class="form-horizontal">
              <%- inputFile({
                readonly: readonly,
                label: 'FILE SINGLE', name: 'file1', required: true,
                accept: 'video/mp4,video/x-m4v',
                jsUploader: 'uploader1'
              }) %>
              <%- inputFile({
                readonly: readonly,
                label: 'FILE MULTI', name: 'file2', multi: true,
                jsUploader: 'uploader1',
                value: [
                  'https://unclefresh-img.s3.amazonaws.com/this_is_a_test.pdf',
                  'https://unclefresh-img.s3.amazonaws.com/do_not_dowload_it.doc'
                ]
              }) %>
            </form>
          </div>

          <div class="widget">
            <div class="title">INPUT IMAGE</div>
            <form class="form-horizontal">
              <%- inputImage({
                readonly: readonly,
                label: 'IMAGE SINGLE', name: 'image1', required: true,
                jsUrlParser: 'urlParser2',
                jsUploader: 'uploader2'
              }) %>
              <%- inputImage({
                readonly: readonly,
                label: 'IMAGE MULTI', name: 'image2', multi: true,
                jsUrlParser: 'urlParser2',
                jsUploader: 'uploader2',
                value: [
                  {images: [{url: 'https://unclefresh-img.s3.amazonaws.com/232e7153-276a-46cf-9333-1d99ebd9c0b7'}]},
                  {images: [{url: 'https://unclefresh-img.s3.amazonaws.com/40d411a4-6be8-4625-b100-c53b769d3b0e'}]}
                ]
              }) %>
            </form>
          </div>

          <%- inputReference({
            readonly: readonly,
            label: 'REFERENCE1',
            name: 'reference1',
            columns: ['field1', 'field2'],
            values: [
              {
                field1: '123',
                field2: 'long long long long long long long long long long long long long long long long'
              },
              {field1: '456', field2: 'short'}
            ],
            max: 3,
            jsEditor: 'editReference1'
          }) %>

          <%- inputReference({
            readonly: readonly,
            label: 'REFERENCE2',
            name: 'reference2',
            columns: ['field3'],
            values: [],
            min: 1,
            max: 3,
            jsEditor: 'editReference2'
          }) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="reference1Modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-form">
    <div id="reference1Form" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">REFERENCE1</h4>
      </div>
      <div class="modal-body">
        <div class="widget">
          <form>
            <%- inputText({readonly: readonly, label: 'TEXT', name: 'field1', required: true}) %>
            <%- inputText({readonly: readonly, label: 'TEXT', name: 'field2', required: true}) %>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

<div id="reference2Modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-form">
    <div id="reference2Form" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">REFERENCE2</h4>
      </div>
      <div class="modal-body">
        <div class="widget">
          <form>
            <%- inputText({readonly: readonly, label: 'TEXT', name: 'field3', required: true}) %>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">保存</button>
      </div>
    </div>
  </div>
</div>

<%- include('partial/modals') %>

<%- include('partial/scripts') %>

<script>
  $(function () {
    // initialize fast click
    FastClick.attach(document.body); // jshint ignore: line

    var mainFormView = new utils.FormView({el: '#mainForm'});

    var reference1FormView = new utils.FormView({el: '#reference1Form'});
    var reference1Modal = $('#reference1Modal').modal({show: false});

    var reference2FormView = new utils.FormView({el: '#reference2Form'});
    var reference2Modal = $('#reference2Modal').modal({show: false});

    window.isJohnOrJack = function (value) {
      if (value === 'john' || value === 'jack') {
        return value;
      }
      throw '名字错了！';
    };

    window.action1 = function () {
      return Promise.delay(1000);
    }

    window.action2 = function () {
      return Promise.delay(3000)
              .then(function () {
                throw '操作失败';
              });
    }

    window.uploader1 = function (file) {
      return Promise.delay(5000)
              .then(function () {
                return 'http://test.com/' + file.name;
              })
    }

    window.urlParser2 = function (value) {
      return value.images[0].url;
    }

    window.uploader2 = function (file) {
      var data = new FormData();
      data.append('file', file);

      var param = {
        method: 'POST',
        url: 'http://52.193.210.43:3012/images/upload?sizes=100x200,200x300',
        contentType: false,
        processData: false,
        dataType: 'json',
        data: data
      };
      return Promise
              .resolve($.ajax(param))
              .then(function (data) {
                return data[0];
              });
    }

    window.editReference1 = function (value) {
      var isNew = !value;
      if (isNew) {
        reference1FormView.resetValue();
      } else {
        reference1FormView.setValue(value);
      }
      var newValue = null;
      reference1Modal.find('.btn-primary').on('click', function () {
        return reference1FormView
                .validate()
                .then(function (result) {
                  if (result.valid) {
                    newValue = result.value;
                    reference1Modal.modal('hide');
                  }
                });
      });
      return new Promise(function (resolve) {
        reference1Modal.modal('show');
        reference1Modal.one('hidden.bs.modal', function () {
          resolve(newValue);
          newValue = null;
        });
      })
    };

    window.editReference2 = function (value) {
      var isNew = !value;
      if (isNew) {
        reference2FormView.resetValue();
      } else {
        reference2FormView.setValue(value);
      }
      var newValue = null;
      reference2Modal.find('.btn-primary').on('click', function () {
        return reference2FormView
                .validate()
                .then(function (result) {
                  if (result.valid) {
                    newValue = result.value;
                    reference2Modal.modal('hide');
                  }
                });
      });
      return new Promise(function (resolve) {
        reference2Modal.modal('show');
        reference2Modal.one('hidden.bs.modal', function () {
          resolve(newValue);
          newValue = null;
        });
      })
    };

    $('.location-bar .btn-primary').click(function () {
      mainFormView
              .validate()
              .then(function (result) {
                alert('See console for validation result!');
                console.log(result);
              });
    });

    $('.location-bar .btn-success').click(function () {
      window.location.href = '/form'
    });

    $('.location-bar .btn-warning').click(function () {
      window.location.href = '/form?readonly=true'
    });

  })
</script>

</body>
</html>
