<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('partial/html-head') %>

</head>
<body>

<div class="body-parts">

  <%- include('partial/top-bar') %>

  <div class="center-part mobile-content">

    <%- include('partial/left-nav', {location: 'list'}) %>

    <div class="main">
      <div class="location-bar mobile-content">
        <div class="location">
          <a class="location-item selected">编辑</a>
        </div>
        <button type="button" class="btn btn-success">创建</button>
      </div>
      <div id="mainForm" class="content">
        <div class="col-sm-12 col-md-10 col-lg-9">

          <form class="form-inline">
            <%- autoComplete({
              label: '名称',
              placeholder: '请输入名称',
              jsFilter: 'nameFilter.filter',
              jsChangeHandler: 'nameFilter.handleChange'
            }) %>
            <%- autoComplete({
              placeholder: '没有名字？',
              formattedText: '乱来',
              freeForm: true,
              jsFilter: 'nameFilter.filter',
              jsChangeHandler: 'nameFilter.handleChange'
            }) %>
          </form>

          <table class="table table-condensed table-hover main-table">
            <thead>
            <tr>
              <th width="30%">用户名</th>
              <th width="30%">角色</th>
              <th width="25%">状态</th>
              <th width="15%">操作</th>
            </tr>
            </thead>
            <tbody>

            <% var users = [
              {name: 'user_1', role: 'admin', enabled: true},
              {name: 'user_2', role: 'editor', enabled: true},
              {name: 'user_3', role: 'editor', enabled: true},
              {name: 'user_4', role: 'editor', enabled: false},
              {name: 'user_1', role: 'admin', enabled: true},
              {name: 'user_2', role: 'editor', enabled: true},
              {name: 'user_3', role: 'editor', enabled: true},
              {name: 'user_4', role: 'editor', enabled: false},
              {name: 'user_1', role: 'admin', enabled: true},
              {name: 'user_2', role: 'editor', enabled: true},
            ] %>
            <% users.forEach(function(user) { %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.role %></td>
              <td><%= user.enabled %></td>
              <td>
                <a href="/user/edit/<%= user.id %>" title="查看详情" class="btn btn-primary btn-sm">
                  <i class="fa fa-pencil"></i>
                </a>
              </td>
            </tr>

            <% }) %>

            </tbody>
          </table>

          <%- pagination({totalCount: 31, totalPage: 3, pageNumber: 1, test: 'abc'}) %>

        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partial/modals') %>

<%- include('partial/scripts') %>

<script>
  $(function () {
    window.nameFilter = {
      filter: function (text) {
        if (!text) {
          return Promise.resolve([]);
        }
        return Promise
                .delay(2000)
                .then(function () {
                  var values = [];
                  for (var i = 0; i < 5; i++) {
                    values.push(text + '' + i);
                  }
                  return values;
                });
      },
      handleChange: function (value) {
        console.log('Name filter selected: ' + value);
      }
    }
  });
</script>

</body>
</html>
