<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Bootstrap -->
<%- cssTag('libs/bootstrap/dist/css/bootstrap.css') %>
<%- cssTag('libs/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css') %>

<!-- font awesome -->
<%- cssTag('libs/font-awesome/css/font-awesome.css') %>

<!-- summernote -->
<%- cssTag('libs/summernote/dist/summernote.css') %>

<%- cssTag('css/core.css?v=1') %>

<% if (typeof pageTitle !== 'undefined') { %>
<title><%= pageTitle %></title>
<% } else { %>
<title>DEMO</title>
<% } %>
