<div class="left-nav mobile-menu">
  <a href="/list" class="nav-item <%= location == 'list' ? 'selected' : '' %>">列表演示</a>
  <a href="/form" class="nav-item <%= location == 'form' ? 'selected' : '' %>">表单演示</a>
  <div class="nav-group">
    <div class="selected-indicator hidden"></div>
    <div class="nav-group-title"><i class="fa fa-caret-down"></i>父节点</div>
    <div class="nav-group-items">
      <a href="/child1" class="nav-item <%= location == 'child1' ? 'selected' : '' %>">子节点 1</a>
      <a href="/child2" class="nav-item <%= location == 'child2' ? 'selected' : '' %>">子节点 2</a>
    </div>
  </div>
</div>
<a href="javascript:void(0)" class="left-nav-expansion mobile-content">
  <i class="fa fa-bars fa-lg"></i>
</a>