<div id="popup_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content popup-modal-content">
      <div class="modal-body">
        <div class="popup-message">
        </div>
        <div class="popup-input form-group hidden">
          <textarea class="form-control"></textarea>
        </div>
        <div id="popup_alertActions" class="popup-actions">
          <button id="popup_ok" type="button" class="btn btn-primary">确定</button>
        </div>
        <div id="popup_confirmActions" class="popup-actions">
          <button id="popup_confirm" type="button" class="btn btn-primary">确定</button>
          <button id="popup_cancel" type="button" class="btn btn-default">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="alert_dialog" class="alert-container animated off"><div class="alert-content"></div></div>
