<!-- for IE <= 9 -->
<script>
  (function() {
    function isIE() {
      var myNav = navigator.userAgent.toLowerCase();
      return (myNav.indexOf('msie') != -1) ? parseInt(myNav.split('msie')[1]) : false;
    }

    if (isIE() && isIE() <= 9) {
      function hideAll() {
        document.body.innerHTML = '<div style="text-align: center; padding-top: 30px;"> This site does not support IE9 or below.</div>';
      }

      window.onload = hideAll;
      setTimeout(hideAll, 100);
      setTimeout(hideAll, 1000);
      hideAll();
    }
  })();
</script>

<%- scriptTag('libs/underscore/underscore-min.js') %>
<%- scriptTag('libs/moment/min/moment-with-locales.min.js') %>
<%- scriptTag('libs/bluebird/js/browser/bluebird.js') %>
<%- scriptTag('libs/jquery/dist/jquery.min.js') %>
<%- scriptTag('libs/jquery-ui/jquery-ui.min.js') %>
<%- scriptTag('libs/bootstrap/dist/js/bootstrap.min.js') %>
<%- scriptTag('libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') %>
<%- scriptTag('libs/summernote/dist/summernote.min.js') %>
<%- scriptTag('libs/backbone/backbone-min.js') %>
<%- scriptTag('libs/fastclick/lib/fastclick.js') %>

<script>
  window.preload = window.preload || {};
</script>

<%- scriptTag('js/utils.js?v=1') %>
