<div class="top-bar">
    <div class="left">
        DEMO
    </div>
    <div class="right">
        <div class="btn-group">
            <button type="button" class="profile-btn btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <i class="fa fa-user"></i>&nbsp;&nbsp;管理员&nbsp;&nbsp;<span
                        class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/settings">帐户设置</a></li>
                <li><a href="/">退出登录</a></li>
            </ul>
        </div>
    </div>
</div>
